@charset "UTF-8";
/* CSS Document */

::-webkit-scrollbar{
    display: none;
}

*{
	box-sizing: border-box;
}

body{
	height: 100vh;
	max-width: 1920px;
	margin: 0 auto;
	background: #000000;
}

header{
	display: flex;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1920px;
	transform: translateX(50%);
	right: 50%;
	height: 5em;
	top: 0;
	background: #000000;
	z-index: 10;
}

#main{
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	height: 3.5em;
	width: 3.5em;
	margin: .5em 1.5em;
	border-radius: 100%;
	cursor: pointer;
	transition: ease all .5s;
	overflow: hidden;
}

#main:hover{
	border: solid #ffffff 1px;
}

#main img{
	width: 200%;
	margin: 0 0 4em;
}

#menu, #menu_active{
	display: block;
	position: absolute;
	right: 1.5em;
	width: 3em;
	height: .7em;
	margin: .5em;
	cursor: pointer;
}

#menu_active{
	width: 2em;
	height: 2em;
}

#me1, #me2, #me1_active, #me2_active{
	position: absolute;
	width: 95%;
	height: 3px;
	border-radius: 5px;
	background: #dcdcdc;
	transform: translateX(50%);
	right: 50%;
}

#me1{
	top: 0;
}

#me2{
	bottom: 0;
	width: 2em;
	transform: translateX(0);
	right: 2.5%;
}

#me1_active, #me2_active{
	width: 2em;
	transform: rotate(-45deg);
	top: 45%;
	right: 0;
	background: #ffffff;
}

#me2_active{
	transform: rotate(45deg);
}

#list, #cover{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 5em;
	width: 100%;
	bottom: 0;
	background: #000000;
	color: #ffffff;
}

#cover{
	padding: 1em 0 0;
}

.link{
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: .5em auto;
	height: 3.5em;
	padding: 10px 15px;
	border-radius: 5px;
	color: #acacac;
	transition: ease all .5s;
}

.link:hover{
	background: #252525;
	color: #ffffff;
}

.link:hover p{
	letter-spacing: 2px;
}

.link p{
	position: absolute;
	left: 3.5em;
	font-size: 25px;
	margin: 0;
	transition: ease all .5s;
}

.icon{
	width: 2.5em;
	height: 2.5em;
	border: solid #acacac 1px;
	border-radius: 100%;
	padding: 7px;
}

.decor{
	height: 95%;
	width: 1.5em;
}

#initial{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin: 5em auto 0;
	width: 100%;
	aspect-ratio: 1 / 1.1;
	max-height: 40em;
}

#initial img{
	opacity: 1;
	margin: 0;
	transition: opacity 0.6s ease;
	display: flex;
	position: absolute;
	min-width: 100%;
	transform: translateX(50%);
	right: 50%;
	background: #151515;
	filter: saturate(0);
}

#init_lab{
	position: absolute;
	white-space: nowrap;
	font-size: 2rem;
	margin: 0;
	padding: 0 .5em;
	color: #dcdcdc;
	border: solid #dcdcdc 2px;
	border-radius: 3rem;
	background: #00000025;
	transition: opacity 0.6s ease;
	bottom: 1em;
}

#init_lab:hover{
	color: #ffffff;
	border: solid #fffffff 2px;
	background: #00000075;
}

#cov_img{
	display: flex;
	position: absolute;
	width: auto;
	height: 100%;
	background: #252525;
	opacity: .2;
	margin: 0;
}

#edu{
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #dcdcdc;
	font-size: 20px;
}

#edu_cover{
	margin: 0 auto;
}

#edu_title{
	margin: 0 auto 0;
	color: #2da4c8;
}

#edu_desc{
	width: 94%;
	margin: 2.5em auto 0;
	color: #dcdcdc;
	line-height: 1.5em;
}

#edu_1{
	top: 0;
	margin: 0;
}

#stat_wrap{
	width: 99%;
	margin: 5em auto 2em;
	display: flex;
}

#stat_wrap hr{
	position: absolute;
	bottom: -10px;
	width: 95%;
	transform: translateX(50%);
	right: 50%;
	border: solid #505050 1px;
	border-radius: 2px;
}

.stat{
	position: relative;
	overflow-x: hidden;
	width: 45%;
	margin: 0 auto;
}

.s_wrap{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 10em;
	margin: 0 auto 10px;
	overflow: hidden;
	border: solid #505050 2px;
	border-radius: 7px;
}

#a_img{
	position: absolute;
	height: 100%;
}

#b_img{
	height: 100%;
	width: auto;
}

.stat_title{
	display: flex;
	text-align: left;
	color: #2da4c6;
	font-size: 25px;
	letter-spacing: 1px;
	margin: 5px auto 5px 2.5%;
	width: 40%;
	white-space: nowrap;
}

.label, .school{
	display: flex;
	text-align: center;
	width: 95%;
	margin: 5px auto;
	color: #909090;
	font-weight: 100;
	letter-spacing: 1px;
}

.label{
	color: #505050;
}

#con{
	width: 95%;
	margin: 3.5em auto 0;
	color: #dcdcdc;
}

.con_wrap, .con_wrap.active{
	display: none;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 30%;
	margin: 0 auto;
	aspect-ratio: 1 / 1;
}

.con_wrap{
	width: 100%;
}

.con_wrap.active{
	display: flex;
	width: 100%;
}

#con1, #con2, #con3{
	opacity: .75;
}

#stat_wrap hr{
	display: none;
}

#con_img img{
	width: 95%;
	margin: 0 auto;
	aspect-ratio: 1 / 1;
	border: solid #757575;
	border-radius: 7px;
}

#con_img img.active{
	display: flex;
}

#con_nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 95%;
	height: 4em;
	margin: 1.5em auto;
}

#con_nav a{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	height: 3.5em;
	width: 3.5em;
	border: solid #909090;
	border-radius: 100%;
	cursor: pointer;
}

#con_nav:hover a{
	border: solid #dcdcdc;
}

#con_nav img{
	position: absolute;
	height: 3em;
	width: 3em;
}

.mark{
	display: none;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background: #909090;
	bottom: -1.25em;
}

.mark.active{
	display: flex;
}

.title,
.desc{
	display: none;
	width: 95%;
	margin: 1.5em auto 10px;
	font-size: 25px;
	color: #2da4c8;
}

.desc{
	margin: .5em auto 0;
	font-size: 18px;
	letter-spacing: 1px;
	color: #909090;
}

.title.active,
.desc.active{
	display: flex;
}

.title.active{
	justify-content: center;
}

#links{
	display: inline-flex;
	flex-wrap: wrap;
	position: absolute;
	transform: translateX(50%);
	right: 50%;
	justify-content: space-around;
	width: 95%;
	max-width: 1920px;
	margin: 0 auto 0;
	padding-bottom: 3em;
}

.foot_link{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 40%;
	aspect-ratio: 1 / 1;
	border: solid #909090 2px;
	border-radius: 100%;
	margin: 1em auto 3em;
}

.foot_link img{
	display: flex;
	position: absolute;
	width: 85%;
	aspect-ratio: 1 / 1;
}

.foot_link p{
	display: none;
	position: absolute;
	bottom: -70px;
	font-size: 25px;
	white-space: nowrap;
	color: #909090;
}

.foot_link:hover p{
	display: flex;
}

#links hr{
	width: 98%;
	border: solid #505050 1px;
	border-radius: 4px;
	margin: 3.5em auto 2.5em;
}

#edu_title{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	margin: 0 auto;
	top: 1em;
}

#list hr{
	position: absolute;
	bottom: 5em;
	transform: translateX(50%);
	right: 50%;
	width: 95%;
	border: solid #505050 1px;
	border-radius: 2px;
}

#establishment{
	position: absolute;
	bottom: 2.75em;
	color: #505050;
	font-size: 1rem;
	transform: translateX(50%);
	right: 50%;
	margin: 0;
	white-space: nowrap;
}

#hr_wrap{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 95%;
	margin: 0 auto;
}

#hr_wrap hr{
	display: none;
	width: 100%;
	border: solid #505050 1px;
	border-radius: 2px;
}

.nav_border, .nav_decor, .nav_center{
	position: absolute;
	transform: translate(50%, 50%);
	right: 50%;
	bottom: 50%;
	width: 80%;
	height: 80%;
	border: solid #dcdcdc 1px;
	border-radius: 5px;
}

.nav_decor{
	width: 4em;
	aspect-ratio: 1 / 1;
	height: auto;
	border-radius: 100%;
	border: solid #dcdcdc 1px;
}

.nav_center{
	display: flex;
	position: absolute;
	width: 2em;
	height: 2em;
	border-radius: 100%;
}

#name{
	display: none;
}

@media (min-width: 980px){
	
	#edu{
		display: block;
		height: auto;
		max-height: none;
	}
	
	#edu_cover{
		display: flex;
		margin: 1.5em auto;
		width: 30%;
		height: 25em;
		overflow: hidden;
		max-height: inherit;
	}
	
	#stat_wrap{
		margin: 3em auto;
		width: 95%;
	}

	#list{
		background: #00000070;
	}

	#cover{
		right: 0;
		width: 30em;
	}
	
	#cw2, #cw3{
		display: flex;
	}

	#con_img img{
		display: flex;
		position: absolute;	
	}

	.title,
	.desc{
		display: flex;
	}

	.mark{
		display: none;
	}

	#con_nav{
		width: 74%;
	}

	#con_nav a{
		cursor: default;
	}

	.foot_link{
		width: 20%;
	}

	.foot_link p{
		font-size: 1.5rem;
		bottom: -70px;
	}
	
	#title_wrap, #desc_wrap{
		display: flex;
		position: relative;
		justify-content: space-between;
		width: 99%;
		margin: 0 auto;
	}

	#desc_wrap{
		width: 95%;
	}
	
	.title, .desc{
		margin: 0 0;
		width: 30%;
	}
	
	.title{
		justify-content: center;
	}
	
	.desc{
		margin: 10px 0;
		font-size: 15px;
	}
	
	#con_img{
		display: flex;
	}
	
	#b_img{
		height: 100%;
	}
	
	#edu_cover{
		display: flex;
		position: relative;
		justify-content: space-between;
		width: 95%;
	}
	
	#edu_1, #edu_2{
		display: block;
		position: relative;
		width: 48%;
		max-width: none;
		overflow: hidden;
	}
	
	#edu_1{
		border-radius: 12px;
	}
	
	#cov_img{
		position: absolute;
		min-width: 110%;
		transform: translateX(50%);
		right: 50%;
		height: 100%;
		aspect-ratio: auto;
		opacity: .5;
		overflow: hidden;
	}
	
	#name{
		display: flex;
		position: absolute;
		transform: translate(50%, 50%);
		justify-content: center;
		align-items: center;
		right: 50%;
		bottom: 50%;
		width: 100%;
		height: 1.5em;
		font-size: 3rem;
		text-align: justify;
		margin: 0;
		background: #000000;
		opacity: .5;
		white-space: nowrap;
	}
	
	#links hr{
		margin: 2em auto 4em;
	}
	
	#hr_wrap{
		justify-content: space-between;
		width: 100%;
	}
	
	#hr_wrap hr{
		display: flex;
		width: 31%;
	}
	
	#con_nav:hover a{
	border: solid #909090;
}
}